
/*::::::::::: BASE STYLES ::::::::::::::::::::::*/


@font-face {
	font-family: "PT Sans Narrow";
	src: url('../fonts/web/ptsansnarrowbold.woff2');
	font-weight: 700;
	font-style: normal;
}
body {
	font-family: "PT Sans Narrow", sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	background-image: url(../img/mainbg.jpg);
	background-position:top;
	background-color: #000;
	background-repeat: no-repeat;
}
h2{
	font-size: 30px;
}
p{
	font-size:14px;

}
.visually-hidden{
	position: absolute;
	top: -2000px;
}
.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	border: 0;
}
.btn{
	color: #fff;
	font-size:14px;
	padding:12px 34px;
	background-color: #000;
	border: 0;
	font-family: inherit;
	text-transform: uppercase;
	text-decoration: none;
}
	.btn:hover{
		background-color:#663d15;
	}
header {
	background-color: #000;
	margin: 0;
	padding: 0;
	min-height: 71px;
}
ul {
	list-style: none;
}
header a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
section.promo{
	color:#f7f4f1;
	margin-bottom: 82px;
}
.widget{
	background-color: #D3D7CFFF;
	background-image: url(../img/widgetbg.jpg);
	background-repeat: repeat;
}
label{
	display: block;
	margin-left: 16px;
	margin-top: 14px;
	margin-bottom: 8px;
}
input{
	font-family: inherit;
	box-sizing: border-box;
	width:140px;
	border-radius: 0;
	border:2px solid #000;
	padding: 10px 14px;
	background-color:#f9f6f3;
}
	input:focus{
		border:2px solid #663d15;
		outline: 1px solid #663d15;
	}
footer{
	background-color: #2E3436FF;
	background-image: url(../img/footerbg.jpg);
	background-repeat: repeat;
	margin-top: 65px;
}
footer p{
	color:#fff;
}
.about a{
	color:#fff;
}

/*------ END BASE SYLES -----------*/


/*::::::: HEADER :::::::::::::::::::*/

.menu-top{
	display: flex;
	justify-content:space-between;
}
	.menu-top__left-menu{
		display: flex;
		justify-content:space-between;
		margin:0;
		padding:0px 0px;
	}
		.menu-top__left-menu li{
			display: flex;
			margin:0;
			padding:0;
		}
		.menu-top__left-menu a{
			margin:0;
			padding:23px 19px;
			padding-bottom: 20px;
		}
		.menu-top__left-menu a.active{
			position:relative;
		}
		.menu-top__left-menu a.active::before{
			position:absolute;
			content:"";
			bottom:0px;
			left:15px;
			background-color:#fff;
			width:65px;
			height:6px;
		}
	.menu-top__right-menu{
		margin:0;
		padding:0;
	}
		.menu-top__right-menu li{
			display: flex;
			margin:0;
			padding:0;
		}
		.menu-top__right-menu a{
			margin:0;
			padding:22px 22px;
			padding-left: 40px;
			position: relative;
			padding-bottom: 29px;
		}
		.menu-top__right-menu .login-ico{
			position: absolute;
			top: 26px;
			left: 10px;
			opacity: 0.2;
		}
	.menu-top a:hover{
		background-color: #323232;
	}
	.menu-top a:hover .login-ico{
		opacity: 1;
	} 

/*----- end header --------------*/

/*:::::::: MAIN :::::::::::::::::*/
.promo{
	text-align: center;
}
	.promo__logo{
		margin-top: 61px;
		margin-bottom:42px;

		box-sizing: border-box;
		width: 370px;
		height: auto;
	}

	.promo__edges{
		padding: 0;
		margin:0;
		margin-bottom: 20px;
		display:flex;
		justify-content:space-between;
	}
		.edge{
			max-width: 300px;
		}
		.edge h2{
			margin-bottom: 7px;
		}
		.edge img{
			margin-bottom: 18px;
		}
		.edge p{
			line-height: 24px;
			margin: 0;
		}

.widget{
	position:relative;
	margin:0;
	padding:47px 80px;
	display: flex;
	justify-content:space-between;
	margin-bottom: 36px;
	padding-bottom: 50px;
}
	.
	.widget h2{
		margin-top: 0;
		margin-bottom:19px;
	}
	.widget p{
		line-height: 24px;
		margin: 0;
	}
	.widget .slider{
		border: 7px solid #fff;
		margin-top: 4px;
		margin-bottom:20px;
	}
	.widget__left-block{
		box-sizing:border-box;
		width: 360px;
	}
	.widget__news__scroll-area{
		overflow: auto;
		max-height: 300px;
		padding-bottom: 1px;
	}
	.widget__left-block .date{
		margin-top: 0px;
		margin-bottom:10px;
		text-transform: none;
		display: block;
		padding-bottom: 12px;
	}
	.widget__left-block .btn.all-news{
		margin-top: 8px;
		display: inline-block;
	}
	.widget__right-block{
		width:300px;
	}
	.slider-controls{
		display: flex;
		justify-content:space-between;
		margin-top: 14px;
		margin-bottom:0;
	}

	.widget.widget-contacts .widget__left-block > p{
		margin-bottom:20px
	}
		.slider-controls .btn{
			padding: 13px 50px;
		}

	
	.buttons-wraper{
		margin-top: 24px;
		display:flex;
		justify-content:space-between;
		width: 300px;
	}
		.buttons-wraper .btn{
			padding: 13px 25px;
		}

	.widget__right-block form{
		margin-top: 15px;
	}
		.input-wraper{
			display: flex;
			justify-content: space-between;
			margin-top: -15px;
		}
			.feedback button.btn{
				display:block;
				width: 100%;
				margin-top: 22px;
			}
	
	.container.flex-box{
		display:flex;
		justify-content:flex-start;
		padding-top: 48px;
	}

/*------- end main ------------------*/


/*:::::::: FOOTER ::::::::::::::::::::*/


	footer{
		height:193px;
	}
		.about p{
			line-height:24px;
			margin-top: 10px;
		}
			
		.socials{
			margin-left: 95px;
		}
			.socials p{
				margin-left: 17px;
				margin-bottom: 17px;
			}
			.social__links{
				display:flex;
				justify-content:space-between;
				width: 141px;
				padding: 0;
			}
			.social__links li{
				display:flex;
				justify-content:center;
				align-content:center;
				align-items:center;
				background-color:#000;
				width:43px;
				height:43px;
			}
				.soc-link:hover path{
					fill:#000;
				}
				.soc-link:hover{
					background-color:#fff;
				}
			
		.copyright{
			margin-left: 259px;
		} p{}
			.copyright p{
				margin-bottom: 17px;
				margin-left: 30px;
			}
			.copyright a.btn{
				padding: 13px 29px;
				display: block;
			}
				.copyright a.btn:hover{
					background-color:#fff;
					color:#000;
				}

/*-------- end footer -----------------*/

/*::::::::::::::::::::::::::::::::::::::*/
/*::::::::: POPUPS :::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::*/

/*::::::::: REGISTER POPUP :::::::::::::::::::::*/

.popup-container{
	position:fixed;
	top:0;
	left:-10000px;
	width:100%;
	height:100%;
	display:flex;
	justify-content:space-between;
	background-color:rgba(0,0,0,0.8);
}
.register-popup{
	position:relative;
	top:118px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	padding:47px 80px;
	padding-right: 60px;
	box-sizing:border-box;
	width:460px;
	height:385px;
	background-color:#f9f6f3;
	background-image:url(../img/widgetbg.jpg);
}
.register-popup-show{
	left:0;
}
	.register-form{
		margin:0;
		padding:0;

		width:100%;
		height:100%;
	}
		.register-form h2{
			margin-top:0;
			margin-bottom:20px
		}
		.register-form p{
			margin-bottom:14px;
		}
		.register-form input{
			margin-bottom:10px;
			width:300px;
			text-transform: uppercase;
			padding-right: 40px;
		}
			.register-form .input-ico{
				opacity:0.5;
				position:relative;
				top:2px;
				right:33px;
			}
			.remember-block-wrapper{
				position:relative;
				font-size:14px;
			}
				.checkbox{
					position:absolute;
					top:5px;
					width:17px;
					height:17px;
					border:2px solid #000;
					z-index:0;
				}
					.checkbox::before,
					.checkbox::after{
						opacity:0;
						position:absolute;
						top:8px;
						left:1px;
						content:"";
						border: 1px solid #000;
						width:13px;
						height:0px;
					}
					.checkbox::before{
						transform: rotate(45deg);
					}
					.checkbox::after{
						transform:rotate(-45deg);
					}
					.register-form input[type=checkbox]{
						position:relative;
						opacity:0;
						z-index:1;
					}
					.register-form input[type=checkbox]:hover{
						cursor:pointer;
					}
					.register-form input[type=checkbox]:checked + .checkbox::before{
						opacity:1;
					}
					.register-form input[type=checkbox]:checked + .checkbox::after{
						opacity:1;
					}
				.remember-block-wrapper input{
					display: inline;
					margin-top:8px;
					width:15px;
				}
				.remember-block-wrapper label{
					display:inline;
					margin-left:7px;
				}
				.remember-block-wrapper label:hover{
					cursor:pointer;
				}
				.remember-block-wrapper a{
					display: inline;
					margin-left:70px;
					color:#000;
					text-decoration:none;
				}
				.remember-block-wrapper a:hover{
					text-decoration:underline;
				}
		.register-form button{
			display:block;
			width:300px;
			margin-top:10px;
		}
	.register-popup-close{
		position:absolute;
		top: 6px;
		right:-36px;
		width: 25px;
		height: 25px;
		z-index:2;
	}
	.register-popup-close:hover{
		cursor:pointer;
	}
		.register-popup-close::before,
		.register-popup-close::after{
			position:absolute;
			content:"";
			background-color:#d0d0d0;
			top: 11px;
			left:2px;
			width: 22px;
			height: 4px;
		}
		.register-popup-close::before{
			transform:rotate(45deg);
		}
		.register-popup-close::after{
			transform:rotate(-45deg);
		}
/*----------- end register popup --------*/

/*::::::::::: MAP POPUP :::::::::::::::::*/
.map-popup {
	position:relative;
	top:118px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	
	box-sizing:border-box;
	width:780px;
	height:575px;
	border:7px solid #fff;
}
	.static-map{
		width:100%;
		height:100%;	
	}
	.map-popup-close{
		position:absolute;
		top:0px;
		right:-15px;
	}
	.map-popup-close:hover{
		cursor:pointer;
	}
		.map-popup-close::before,
		.map-popup-close::after{
			position:absolute;
			content:"";
			background-color:#d0d0d0;
			top: 11px;
			left:2px;
			width: 22px;
			height: 4px;
		}
		.map-popup-close::before{
			transform:rotate(45deg);
		}
		.map-popup-close::after{
			transform:rotate(-45deg);
		}
	.map-popup-show{
		left:0;
	}
/*  ------ end popups ----------*/

/*------ END INDEX.HTML ---------*/


/*:::::::::::::::::::::::::::::::*/
/*::::::: SHOP.HTML :::::::::::::*/
/*:::::::::::::::::::::::::::::::*/
.col{
	display: flex;
	flex-direction: column;
	align-items:flex-start
}
.shop{
	margin-left: -60px;
	margin-right: -60px;
	padding-top: 49px;
	padding-left: 60px;
	padding-right:60px;
	padding-bottom:33px;
	background-image:url(../img/widgetbg.jpg);
	background-color:#D3D7CFFF;
	box-shadow: 0px 30px 29px 20px rgba(0,0,0);
}
	.shop h2{
		margin-top:0px;
		margin-bottom:21px
	}
	.shop-content h3{
		margin-top: -8px;
		margin-bottom:20px;
		font-size:24px;
	}
	.breadcrumbs{
		display:flex;
		font-size:13px;
		margin-top:0px;
		margin-left:-10px;
		margin-bottom: 56px;
		padding-left:0px;
		list-style-image:url("../img/romb.png");
	}
	.breadcrumbs .crumb{
		color:#000;
		text-decoration:none;
	}
	.breadcrumbs .crumb:hover{
		text-decoration: underline;
	}
	.breadcrumbs .active{
		color:#aba9a7;
	}
	.breadcrumbs li:first-child{
		list-style:none;
	}
		.breadcrumbs li{
			margin-right:36px;
			padding-left:10px
		}

	.shop-content{
		display: flex;
	}
		.shop__product{
			margin-top:-10px;
			padding-left:8px;
			display:flex;
			width:728px;
			box-sizing:border-box;
			flex-wrap:wrap;	
		}
			.productors-list{
					padding-left: 0px;
					margin-bottom:48px;
			}
			.productors-list input[type=checkbox]{
				opacity: 0;
			}
				

				.productors-list input[type=checkbox]:hover{
					cursor:pointer;
				}
				.productors-list input[type=checkbox]:checked + .checkbox::before{
					opacity:1;
				}
				.productors-list input[type=checkbox]:checked + .checkbox::after{
					opacity:1;
				}
			
				.productors-list li{
					position:relative;
					line-height:36px;
				}
					.product-filter label{
						display: inline;
						font-size:14px;
						padding-left:3px;
						cursor:pointer;
					}
					.product-filter input{
						/*display: inline;*/
						width:14px;
					}
			.product-list{
				padding-left:0;
			}
			.radio{
				position:absolute;
				top:5px;
				width:17px;
				height:17px;
				border:2px solid #000;
				border-radius:50%;
				z-index:0;
			}
			.radio::before{
				content:"";
				opacity:0;
				position:absolute;
				top:5px;
				left:5px;
				border:none;
				border-radius:50%;
				width:7px;
				height:7px;
				background-color:#000;
			}
			input[type=radio]{
				opacity:0;
			}
			input[type=radio]:checked + .radio::before{
				opacity:1;
			}
				.product-list li{
					position: relative;
					line-height: 36px;
				}

		.product__card{
			display: flex;
			flex-direction:column;
			box-sizing: border-box;
			border:0;
			width:220px;
			height:286px;
			background-color: #fff;
			margin:10px;
			box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
			
		}
		.product__card:hover{
			box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
		}

			.product__card .category{
				margin-top:12px;
				margin-bottom:0px;
				margin-left:17px;
				text-transform:none
			}
			.product__card .position{
				margin:0;
				margin-left:15px;
			}
			.price-wrapper{
				display:flex;
				justify-content:center;
				align-items:center;
				margin-left:0px
			}
				.price-wrapper .price{
					padding:12px 37px;
					background-color:#e5e5e5;
				}
				.price-wrapper .btn{
					padding:12px 19px;
				}
		.product__pagination{
			margin-top:37px;
			display:flex;
			justify-content:space-between;
			width:auto;
			padding-left:19px;
			align-items:center;
			align-content:center;
		}
			.product__pagination .active{
				background-color:#fff;
				color:#000;
			}
			.product__pagination li{
				width: 43px;
				height: 43px;
				padding:0px;
				margin-right:7px;
			}
			.pagination__button{
				text-align:center;
				background-color:#000;
				color:#fff;
				width:100%;
				height:100%;
				line-height:40px;
				padding: 12px 17px;
				text-decoration: none;
			}

/*----- end shop.html -----------*/


/*:::::::::::::::::::::::::::::::*/
/*::::::: ITEM.HTML :::::::::::::*/
/*:::::::::::::::::::::::::::::::*/

.item-big{
	margin:0px;
	margin-bottom:13px;
	box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
}
.item-big:hover{
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
}

.item-wrapper{
	display: flex;
	margin-bottom:6px;
}
	
	.item-mini:first-child{
		margin-left: 0px;
	}
	.item-mini{
		margin:10px;
		box-shadow:0px 0px 20px -10px rgba(0,0,0,0.5);
	}
	.item-mini:hover{
		box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
	}
	.item-mini:nth-child(3n){
		margin-right:0px;
	}
.product-description{
	margin-left:90px;
	width:375px;
	padding-top:10px;
}
	.product-description__info{
		display: flex;
		justify-content:space-between;
		width: 380px;
		margin-bottom:18px;
	}
		.product-description__info .art{
			color:#aeaeae;
		}
	.product-description__desc{
		line-height:24px;
		margin-bottom:22px;
	}
	.product-description .price-wrapper{
		justify-content:flex-start;
		margin-bottom:56px;
	}
	.product-complect{}
	
		.product-complect .header{
			margin-bottom: 27px;
		}
		.product-complect__list{
			padding-left:20px;
			font-size:14px;
			line-height:24px;
			list-style-image: url(../img/romb.png);
		}

/* --------- end iten.html ---------------*/

/*:::::::::::::::::::::::::::::::*/
/*::::::: ITEM.HTML :::::::::::::*/
/*:::::::::::::::::::::::::::::::*/

.price-list__header-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 940px;
	margin-bottom: 13px;
	margin-top: -12px;
}
	
.price-list{
	margin-bottom:55px;
}

	.price-list__header-flex h1{
		font-size: 48px;
		margin:0px;
	}
	.price-list-row{
		display:flex;
		justify-content:flex-start;
		margin-bottom:-10px;
		margin-left:-30px;
	}
	.price-list-col{
		width:420px;
		margin-left:30px;
		margin-right:30px;
	}
	.price-list  h3{
		font-size:24px;
		margin-top: 40px;
		margin-bottom: 27px;
	}
	.price-list .what-we-use {
		margin-top: -7px;
		margin-bottom:20px;
		font-size:14px;
		line-height:37px;
		padding-left:18px;
		list-style-image: url(../img/romb.png);
	}

	.price-table{
		display: table;
		font-size:14px;
		border-collapse:collapse;
		width:458px;
		height:124px;
		margin-top:33px;
		
		border:1px solid #000;
	}
		.table-row{display: table-row;}
		.table-cell{
			display: table-cell;
			border:2px solid #000;
			padding:10px 10px;
		}
	.price-list p{
		margin:0px;
		max-width:400px;
		font-size:14px;
		line-height:24px;
	}