@import "var.less";
@import "mixins.less";

.about {
	text-align: center;
	&__title{
		.resetMarginPadding();
		.whiteOnBlack();
		text-align:center;
		font-size:18px;
		margin-bottom:12px;
	}
	&__address{
		.resetMarginPadding();
		.whiteOnBlack();
		text-align:center;
		font-size:18px;
		font-family:"PT Sans Narrow Regular";
		padding:0px 20px;
		line-height:26px;
		margin-bottom:20px
	}
	&__tel{
		.whiteOnBlack();
		border:1px solid #353535;
		box-sizing: border-box;
		width: 280px;
		&:hover{
			background-color: lighten(#353535, 1%);
		}
	}
}

//:::::::::::::::::::::::::::::::::::::::
//:::::::::: TABLET :::::::::::::::::::::
//:::::::::::::::::::::::::::::::::::::::

@media (min-width:@tablet-width){
	.about{
		text-align: left;
		&__title{
			text-align: left;
			text-transform: uppercase;
		}
		&__address{
			width:100%;
			text-align: left;
			padding-left: 0px;
			margin-bottom:10px;
		}
		&__tel{
			text-align: left;
			border:0px;
			.resetMarginPadding();
			width: 150px;
			height: 24px;;
		}
	}
}
