@import "var.less";
@import "mixins.less";

.header{
	display:flex;
	flex-direction:column;
	background-color: @background;
	&__logo-image-mobile{
		margin-top:30px;
		margin-bottom:25px;
	}
	&__logo-image-tablet{
		display: none;
	}
	&__logo-image-desktop{
		display: none;
	}
	&__main-menu{
		.resetMarginPadding();
		height:50px;
	}
}
.main-menu{
	background-color:@toggleMenuBg;
	position:relative;
	&__nav-menu{
		.setListView();
		.resetListStyle();
	}
	&__user-menu{
		.setListView();
		.resetListStyle();
	}
	&__item-lable{

	}
	&__toggle-button{
		position:absolute;
		top:0px;
		right:0px;
		box-sizing:border-box;
		width:70px;
		height:50px;
		background-color:#6a4d38;
		padding: 15px 15px;
		z-index: 5;
		&:hover{
			cursor:pointer;
			background-color: lighten(#6a4d38,5%);
		}
	}
	&__toggle-button-icon{
	}
	&__item{
		opacity: 0;
		z-index: -1;
		box-sizing: border-box;
		height: 50px;
		text-align: center;
		padding-left:0px;
		.text(18px);
		background-color:@toggleMenuBg;
		border-bottom: 1px solid darken(@toggleMenuBg, 10%);
		box-shadow: 0px 1px 0px 0px lighten(@toggleMenuBg, 10%);
		margin-bottom:1px;

		&.displayed-item{
			opacity: 1;
			z-index: 1;
			.text(18px);
			display:block;
			text-align: center;
		}
		& .main-menu__link{
			text-decoration: none;
		}
		&:hover{
			background-color:darken(@toggleMenuBg, 10%);
		}
	}
	&__link{
		display:block;
		color:@fontWhite;
		padding:@menuPadding;
	}
	&__item-ico{}
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//:::::::::::::::::::::::: 768 :::::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@media (min-width: @tablet-width){
	.header{
		display:flex;
		flex-direction:column;
		background-position: center 0;
		background-size: cover;
		background-image: url("../img/mainbg.jpg");
		&__logo-image-mobile{
			display: none;
		}
		&__logo-image-tablet{
			order: 1;
			display: block;
			margin-top:40px;
			margin-bottom:256px;
		}
		&__main-menu{
			order:0;
			.resetMarginPadding();
		}
	}
	.main-menu{
		//padding-top:12px;
		//padding-bottom:10px;
		padding-left:48px;
		height: 72px;
		display:flex;
		justify-content: flex-start;
		align-items: flex-start;
		background-color: #000;
		&__toggle-button{
			display: none;
		}
		&__nav-menu{
			display: flex;
			flex-direction: row;
			align-content: stretch;
			align-items: stretch;
			height: 100%;
		}
		&__user-menu{
			display: flex;
			height: 100%;

			& .main-menu__item-lable{
				display: none;
			}
		}
		&__item{
			display: flex;
			height: 100%;
			opacity: 1;
			z-index: 1;
			box-sizing: border-box;
			text-align: center;
			padding-left:6px;
			padding-right:6px;
			.text(18px);
			background-color:transparent;
			border:0;
			box-shadow: none;
			margin-bottom:0px;

			&.displayed-item{
				display: flex;
			}
		}
		&__link{
			height: 100%;
			display: flex;
			align-content:center;
			align-items: center;
			box-sizing: border-box;
			text-decoration: none;
			color:@fontWhite;
			padding:@menuPadding;
		}
		&:hover{}
		&__item-ico{}
	}
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//:::::::::::::::::::::::: DESKTOP :::::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@media (min-width: @desktop-width){
	.header{
		height: 720px;
		background-position: top;
		background-size: auto;
		&__logo-image-mobile{
		}
		&__logo-image-tablet{
			display: none;
		}
		&__logo-image-desktop{
			align-self: center;
			margin-top:57px;
			margin-bottom:10px;
			order: 1;
			display: block;
		}

	}
	.main-menu{
		justify-content: space-between;
		padding-left: 62px;
		&__item{
			padding-left:22px;
			padding-right:22px;
		}
		&__item-lable{
			display: inline-block;
		}
		&__user-menu{
			padding-right: 54px;
			& .main-menu__item-lable{
				display: inline-block;
				margin-left: 15px;
			}
		}
	}
	/*.main-menu{
		&__nav-menu{
			.setListView();
			.resetListStyle();
		}
		&__user-menu{
			.setListView();
			.resetListStyle();
		}
		&__item-lable{

		}
		&__toggle-button{
			&:hover{
			}
		}
		&__toggle-button-icon{
		}
		&__item{
			&.displayed-item{
			}
			& .main-menu__link{
			}
			&:hover{
			}
		}
		&__link{
		}
		&__item-ico{}
	}*/
}
