@import "var.less";
@import "mixins.less";

.header{
	display:flex;
	flex-direction:column;
	background-color: @background;
	&__logo-image{
		margin-top:30px;
		margin-bottom:25px;
	}
	&__main-menu{
		.resetMarginPadding();
		height:50px;
	}
}

.main-menu{
	background-color:@toggleMenuBg;
	position:relative;
	&__nav-menu{
		.setListView();
		.resetListStyle();
	}
	&__user-menu{
		.setListView();
		.resetListStyle();
	}
	&__item-lable{

	}
	&__toggle-button{
		position:absolute;
		top:0px;
		right:0px;
		box-sizing:border-box;
		width:70px;
		height:50px;
		background-color:#6a4d38;
		padding: 15px 15px;
		z-index: 5;
		&:hover{
			cursor:pointer;
			background-color: lighten(#6a4d38,5%);
		}
	}
	&__toggle-button-icon{
	}
	&__item{
		opacity: 0;
		z-index: -1;
		box-sizing: border-box;
		height: 50px;
		text-align: center;
		padding-left:0px;
		.text(18px);
		background-color:@toggleMenuBg;
		border-bottom: 1px solid darken(@toggleMenuBg, 10%);
		box-shadow: 0px 1px 0px 0px lighten(@toggleMenuBg, 10%);
		margin-bottom:1px;

		&.displayed-item{
			opacity: 1;
			z-index: 1;
			.text(18px);
			display:block;
			text-align: center;
		}
		& .main-menu__link{
			text-decoration: none;
		}
		&:hover{
			background-color:darken(@toggleMenuBg, 10%);
		}
	}
	&__link{
		display:block;
		color:@fontWhite;
		padding:@menuPadding;
	}
	&__item-ico{}
}
