@import "var.less";
@import "header.less";
@import "container.less";
@import "mixins.less";
@import "promo_banner.less";
@import "slider_edges.less";
@import "slider_about.less";
@import "news.less";
@import "buttons.less";
@import "talk-about.less";
@import "footer.less";
@import "about.less";
@import "social-links.less";
@import "copyright.less";

/*::::::::::: @FONTS :::::::::::::*/
@font-face {
	font-family: "PT Sans Narrow Bold";
	src: url('../fonts/web/ptsansnarrowbold.woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "PT Sans Narrow Regular";
	src: url('../fonts/web/ptsansnarrow.woff2');
	font-weight: 700;
	font-style: normal;
}
/*:::::::::: @STYLES :::::::::::::::::*/

body{
	background-color:@bodyBg;
	font-family:@fontBold;
	.resetMarginPadding();
}
