@import "header.less";
@import "container.less";
@import "mixins.less";
@import "promo_banner.less";
/*::::::::::: @FONTS :::::::::::::*/
@font-face {
	font-family: "PT Sans Narrow Bold";
	src: url('src/fonts/web/ptsansnarrowbold.woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "PT Sans Narrow Regular";
	src: url('src/fonts/web/ptsansnarrow.woff2');
	font-weight: 700;
	font-style: normal;
}

/*:::::::::: @VARIABLES :::::::::::*/
@backgroundImage: url("src/img/mainbg.jpg");
@fontWhite: #fff;
@fontBlack: #000;
@fontBold:"PT Sans Narrow Bold";
@fontRegular:"PT Sans Narrow Regular";

/*:::::::::: @MIXINS ::::::::::::::*/


/*:::::::::: @STYLES :::::::::::::::::*/
.visually-hidden{
	position:absolute;
	top:-10000px;
}
body{
	background-color:#323232;
	font-family:@fontBold;
	.resetMarginPadding();
}
